

    <%- include('header'); -%>


<div class="box" id = "heading" >
   <h1> <%= listTitle %> </h1>
    </div>
    <div class="box">
    <% for (let i = 0; i < newListItems.length; i++ ){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p> <br>
            
        </div>
   <% } %>
   <form class= "item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" >
    <button type="submit" name="list" value = <%= listTitle %> >+</button> <br>
    
   </form>

    </div>

   <div class="workRedirect">
        <p class="redirect">want a seprate list for work? <br> 
        we've got you covered! just click <a href="/work" class="link">here.</a><br>
        To go back  click <a href="/" class="link">here</a></p>
    </div>
   

    <%- include('footer'); -%>